
.blog-picture{
    display:  inline;
    overflow:  hidden;
}
.blog-card {
    transition: height 0.3s ease;
    -webkit-transition: height 0.3s ease;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 3px 7px -3px rgba(0, 0, 0, 0.3);
    margin: 0 auto 20px;
    overflow: hidden;
    position: relative;
    font-size: 14px;
    line-height: 1.45em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .blog-card:hover .details {
    left: 0;
  }
  .blog-card .blog-picture,.blog-card .blog-picture .photo{
      position: relative;
  }
  .blog-card .blog-picture{
    float: left;
  }
  .blog-card .blog-picture .photo {
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    float: left;
    height: 100%;
    width: 100%;
  }
  .blog-card:hover .details {
    left: 0;
  }
  .blog-card .details{
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    background: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    color: #fff;
    font-family: "Open Sans";
    list-style: none;
    margin: 0;
    padding: 10px 20px;
    /*POSITION*/
    position: absolute;
    top: 0;
    left: -100%;
  }
  .blog-card .details > li{
    padding: 3px 0;
    display:inline-table;
  }
  .blog-card .details .tags ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .blog-card .details li:before, .blog-card .details .tags ul:before {
    font-family: FontAwesome;
    margin-right: 10px;
    vertical-align: middle;
  }
  .blog-card .details .author{
    display:block;
    margin:0;
    text-align: center;
  }
  .social-links{
    height: 100%;
    width: 100%;
    display: inherit;
  }
  .social-like{
    background: #fffcffd1;
    padding-top: 8px;
    padding-bottom: 5px;
  }
  .social-like,.social-like > div{
    width:100%;
    text-align:center;
  }
  .blog-card .details .tags ul:before {
    content: "\f02b";
  }
  .blog-card .details .tags li {
    display: inline-block;
    margin-right: 3px;
  }
  .blog-card .details a {
    color: inherit;
  }
  .blog-card .details a:hover {
    color: #75D13B;
  }
  .blog-card .description{
    padding: 10px;
    padding-bottom:55px;
    box-sizing: border-box;
    position: relative;
  }
  .blog-card .description h3 {
    font-family: "Roboto";
    line-height: 1em;
    font-size:25px;
    margin: 0 0 10px 0;
  }
  .blog-card .description h2 {
    color: #9b9b9b;
    font-family: "Open Sans";
    line-height: 1.2em;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    margin: 1.2% 0;
  }
  .blog-card .description .summary {
    position: relative;
    margin: 0;
    padding-top: 20px;
  }
  .blog-card .description div.summary:after {
    content: "";
    background: #75D13B;
    height: 6px;
    width: 40px;
    /*POSITION*/
    position: absolute;
    top: 6px;
    left: 0;
  }
  .blog-card .description a.read_more {
    color: #75D13B;
    /* margin-bottom: 10px; */
    /* float: right; */
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
  .blog-card .description a.read_more:after {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    content: ">>";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
  }
  .blog-card .description a.read_more:hover:after {
    margin-left: 5px;
    opacity: 1;
  }

  .search_traffic{
    padding:10px;
    font-weight: bolder;
  }
  .glyphycon-icon{
    background:url('./../assets/images/glyphicons/icons.png') center no-repeat;
  }
  .views{
    background-color: white;
    color:black;
    position: absolute;
    text-align: center;
    padding:10px 0;
    z-index: 2;
    min-height: 10px;
  }
  .views .view-icon{
    width: 20px;
    height: 15px;
    display: inline-block;
    background-position: 21% 82%;
  }

  .search-form-input{
    padding:0px 20px;
    margin-bottom: 20px;
  }
  .selectinput{
    width:100%;
  }
  .filter-title{
    padding:10px 0px;
  }
  .More-results{
    text-align: center;
    color:black;
    font-size: 18px;
    font-weight: bolder;
  }
  .highlight:hover{
    color:dodgerblue;
    cursor: pointer;
  }
  .description > .description_link{
    color: inherit;
    text-decoration: none;
  }
  .description > .description_link:hover{
    color:#03abff;
  }

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 575px) {
  /* STYLES GO HERE */
  .blog-picture{
    width: 100%;       
  }
  .blog-card .blog-picture .photo{
    min-height: 250px;
    background-size: 100% 100% !important;
  }
  .blog-card .blog-picture{
    min-height: 250px;
  }
  .blog-card .details{
    height: 250px;
    padding: 5px;
    width: 100%;
  }
  .blog-card .description{
    width: 100%;
    padding-top: 60px;
    z-index: 0;
    min-height: 300px;
  }
  .blog-card .description{
    float: left;
  }
  .blog-card .details > li{
    width:50%;
    margin-bottom:30px;
  }
  /* .social-links,.social_media_f,.social_media_t,.social_media_w,.social_media_p{
    min-height:80px;
    min-width:80px;
  } */
  .blog-card .details .author{
    width: 100%;
    margin:20px 0px;
    font-size: 26px;
  }
  .blog-card .details > li > div{
    margin:auto;
  }
  .blog-card .description:before{
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
    content: "";
    background: #fff;
    width: 100%;
    z-index: -1;
    /*POSITION*/
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
  }
  .views{
    top:250px;
    font-size: 16px;
    width:100%;
  }
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 575px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  /* STYLES GO HERE */
  .blog-picture{
    width: 100%;       
  }
  .blog-card .blog-picture .photo{
    min-height: 200px;
  }
  .blog-card .blog-picture{
    min-height: 200px;
  }
  .blog-card .details{
    height: 200px;
    padding: 5px;
    width: 100%;
  }
  .blog-card .description{
    width: 100%;
    z-index: 0;
    min-height: 240px;
  }
  .blog-card .description{
    float: left;
  }
  .blog-card .details > li{
    width:50%;
  }
  .blog-card .details .author{
    width: 100%;
  }
  .blog-card .details > li > div{
    margin:auto;
  }
  .blog-card .description:before{
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
    content: "";
    background: #fff;
    width: 100%;
    z-index: -1;
    /*POSITION*/
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
  }
  .views{
    top:160px;
    font-size: 10px;
    width:100%;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1024px) and (max-width : 1223px) {
  .blog-picture{
    width: 30%;       
  }
  .blog-card .blog-picture .photo{
    min-height: 160px;
  }
  .blog-card .blog-picture{
    min-height: 160px;
  }
  .blog-card .details{
    height: 160px;
    padding: 5px;
    width: 30%;
  }
  .blog-card .description{
    width: 70%;
    z-index: 0;
    min-height: 200px;
  }
  .blog-card .description{
    float: left;
  }
  .blog-card .details > li{
    width:50%;
  }
  .blog-card .details .author{
    width: 100%;
  }
  .blog-card .details > li > div{
    margin:auto;
  }
  .blog-card .description:before{
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
    content: "";
    background: #fff;
    width: 100%;
    z-index: -1;
    /*POSITION*/
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
  }
  .views{
    top:160px;
    font-size: 10px;
    width:30%;
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
  .blog-picture{
    width: 30%;       
  }
  .blog-card .blog-picture .photo{
    min-height: 200px;
  }
  .blog-card .blog-picture{
    min-height: 220px;
  }
  .blog-card .details{
    height: 200px;
    width: 30%;
  }
  .blog-card .description{
    width: 70%;
    z-index: 0;
    min-height: 260px;
  }
  .blog-card .description{
    float: left;
  }
  .blog-card .details > li{
    width:50%;
    margin-bottom: 20px;
  }
  .blog-card .details .author{
    width: 100%;
    margin-bottom: 10px;
  }
  .blog-card .details > li > div{
    margin:auto;
  }
  .blog-card .description:before{
    -webkit-transform: skewX(-5deg);
            transform: skewX(-5deg);
    content: "";
    background: #fff;
    width: 100%;
    z-index: -1;
    /*POSITION*/
    position: absolute;
    left: -15px;
    top: 0;
    bottom: 0;
  }
  .views{
    top:200px;
    width:30%;
  }
}
/* ///////////////////////////////////////////////////////////////////// */
@media screen and (min-width: 769px) {
.blog-card:hover .blog-picture .photo {
    -webkit-transform: rotate(5deg) scale(1.7);
            transform: rotate(5deg) scale(1.7);
  }
  .blog-card:hover.alt .blog-picture .photo {
    -webkit-transform: rotate(-5deg) scale(1.7);
            transform: rotate(-5deg) scale(1.7);
  }
}